@zenni:registry=https://us-central1-npm.pkg.dev/dev-commerce-services/zenni-ds-dev/
//us-central1-npm.pkg.dev/dev-commerce-services/zenni-ds-dev/:_password=${NPM_TOKEN}
//us-central1-npm.pkg.dev/dev-commerce-services/zenni-ds-dev/:username=_json_key_base64
//us-central1-npm.pkg.dev/dev-commerce-services/zenni-ds-dev/:email=not.valid@email.com
